* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}



/* index.html */

#bgfarve {
    background-image: url(images/aarhus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {}

.txtBanner {
    display: flex;
    justify-content: center;
    margin-top: 12%;
}


.flagWrapper {
    width: 450px;
    margin: 0 auto;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 40px;
    padding: 10px;
    flex-wrap: wrap;
}

.flagimg {
    width: 76px;
    height: 103px;
    margin: 20px;
}

/* NAVIGATION */  

#main-nav a {
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 20px;
    text-align: center;

}

nav {
    padding-left: 0px;
}



nav img {
    width: 90px;


}

.hidden {
    display: none;
}

nav {
    color: black;
    padding-bottom: 20px;
    padding-top: 30px;
    position: sticky;
    top: 0px;
    z-index: 2;
    position: relative;
    display: flex;
}


nav li {
    list-style-type: none;
    padding-right: 100px;
    font-family: helvetica neue;
    font-size: 15px;
    padding-left: 1em;
    transition: 0.5s;
}



nav li:hover {
    transform: scale(1.20);
}


nav a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* FORSIDE */ 

#flexbox {
    display: grid;
    grid-template-columns: 170px 1fr;

}

#menu {
    background-color: #396060;
    width: 170px;
    margin-left: 0px;
}


#indhold {
    background-color: #396060;
    width: 100%;
}

#billeder {
    width: 100%;
}



/* CHECK IND */ 
#galleri {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#checkin {
    background-image: url(images/check_in.png);
    background: cover;
}

h1,
h3 {
    text-align: center;
    padding-top: 50px;
}

#check-overskrift {color: white;}

#check-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#checkin_info {
    background-color: #396060;
    opacity: 0.8;
    place-self: center;
    margin: 2%;
    padding: 3%;
    color: white;
    width: 200px;
    display: grid;
}

.checkinfelt {
    margin: 2%;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

#submit {
    place-self: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5em 2em;
    cursor: hand;
    transition: background .2s ease-in, transform .25s ease-in-out;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 5%;
    text-align: center;
}

#submit:hover {
    background-color:  #334E4E;
}

#keyboard {
    background-color: #dce2e8;
    opacity: 0.9;
    padding: 2%;
    place-self: center;
    width: 80%;
}

/*RESTAURANT*/

#restaurant {
    background-image: url(images/restaurant_v.png);
    background-size: cover;
}

#R_overskrift {
    color: white;
    margin-top: 10%;
    margin-bottom: 8%;
    font-size: 250%;
}

#grid-wrap {
    display: grid;
    grid-template-rows: 100px 1fr;
}

#booking_knap {
    place-self: center; 
    color: white;
    background-color: #396060; 
    opacity: 0.8;
    font-size: 20px;
    padding: 2%;
    border: none;
}

#tekstboks {
    background-color: #396060;
    place-self: center;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    opacity: 0.8;
    padding-left: 5%;
    padding-right: 5%;
}

#tekstboks p {
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}


#booking_knap {
    text-align: center;

}

#booking_knap {
    text-align: center;

}

/* FACILITET */

.galleri {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
} 

.bgfacilitet1 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/yoga.png);
    background-size: cover; 
    margin-top: 2%; 
}

.bgfacilitet2 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/spa.png);
    background-size: cover; 
     
}

.bgfacilitet3 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/bar.png);
    background-size: cover; 
     
}


.bgfacilitet4 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/room.png);
    background-size: cover; 
     
}


.tekstbox {
    background-color: #396060; 
    opacity: 0.8; 
    height: 300px; 
    width: 300px; 
    place-self: center; 
    margin-top: 8%; 
}

h3, h4 {
    color: white; 
}

.facilitettekst_p {
    color: white; 
    padding-right: 10px; 
    padding-left: 10px; 
    padding-top: 20px; 
}

#vbar, #hoejretekstbox {
    grid-column: 2/3;
}

.button {
    background-color: transparent;
    border: 1px solid white;
    padding: 0.1em 2em;
    cursor: hand;
    transition: background .2s ease-in, transform .25s ease-in-out;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 10%;
    text-align: center; 
}

.button:hover {
    background-color:  #334E4E;
}


/*MØDELOKALER*/



#moede-main {
    background-image: url(images/moedelokaler.png);
    width: 100%;
}

#moede-overskrift {
    color: white;
    margin-top: 5%;
    margin-bottom: 30%;
    font-size: 250%;
}

.bgmoede1 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/moedelokale1.png);
    background-size: cover; 
    margin-top: 2%; 
}

.bgmoede2 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/moedelokale2.png);
    background-size: cover; 
     
}

.bgmoede3 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/hotelvaerelse.png);
    background-size: cover; 
     
}


.bgmoede4 {
    height: 400px; 
    width: 100%; 
    background-image: url(images/it-hjaelp.png);
    background-size: cover; 
     
}

.mtekstbox {
    background-color: #396060; 
    opacity: 0.8; 
    height: 300px; 
    width: 400px; 
    place-self: center; 
    margin-top: 8%; 
}

.m_info {
    padding: 2%;
}

.m_info li {
    color: white;
    list-style-type: none;
}

h4 {padding-left: 2%;}

#godbutton, #bedrebutton, #itbutton {
    margin-top: 5%;
}

#it_tekstbx {
    grid-column: 2/3;
    height: 500px; 
    width: 350px;
}