* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}



/* index.html */

#bgfarve {
    background-image: url(images/aarhus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {}

.txtBanner {
    display: flex;
    justify-content: center;
    margin-top: 12%;
}


.flagWrapper {
    width: 450px;
    margin: 0 auto;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 40px;
    padding: 10px;
    flex-wrap: wrap;
}

.flagimg {
    width: 76px;
    height: 103px;
    margin: 20px;
}

#main-nav a {
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 20px;
    text-align: center;

}

nav {
    padding-left: 0px;
}

/* nav a:hover {
    color: #ae8e6f;


} */

nav img {
    width: 90px;


}

.hidden {
    display: none;
}

nav {
    color: black;
    padding-bottom: 20px;
    padding-top: 30px;
    position: sticky;
    top: 0px;
    z-index: 2;
    position: relative;
    display: flex;
}


nav li {
    list-style-type: none;
    padding-right: 100px;
    font-family: helvetica neue;
    font-size: 15px;
    padding-left: 1em;
    transition: 0.5s;
}



nav li:hover {
    transform: scale(1.20);
}


nav a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}



#flexbox {
    display: grid;
    grid-template-columns: 170px 1fr;

}

#menu {
    background-color: #396060;
    width: 170px;
    margin-left: 0px;
}


#indhold {
    background-color: #396060; 
    width: 100%; 
}

#billeder {
    width: 100%; 
}

iframe {}

#galleri {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    background-color: #396060;
}

#checkin {
    background-color: #fff;
}

h1 {text-align: center;
padding-top: 50px;}

#check-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#checkin_info {
    place-self: center; 
}

