* {
    margin: 0;
    padding: 0;
}

/* index.html */

#bgfarve {
    background-color: gray;
}

.wrapper {}

.txtBanner {
    display: flex;
    justify-content: center;
    margin-top: 12%;
}


.flagWrapper {
    width: 450px;
    margin: 0 auto;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 40px;
    padding: 10px;
    flex-wrap: wrap;
}

.flagimg {
    width: 76px;
    height: 103px;
    margin: 20px;
}



header {
    width: 170px;
    margin-left: 0px;
}



#main-nav a {
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 20px;
    text-align: center;

}

nav {
    padding-left: 0px;
}

/* nav a:hover {
    color: #ae8e6f;


} */

nav img {
    width: 90px;


}

.hidden {
    display: none;
}

nav {
    color: black;
    padding-bottom: 20px;
    padding-top: 30px;
    position: sticky;
    top: 0px;
    z-index: 2;
    position: relative;
    display: flex;
}


nav li {
    list-style-type: none;
    padding-right: 100px;
    font-family: helvetica neue;
    font-size: 15px;
    padding-left: 1em;

}


nav a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#menu {
    background-color: #a0886d;
}

#indhold {}

iframe {}
